body {
    /* Standard values for the whole webapp */
    /* Color Vars */
    /* Palette source - https://colorhunt.co/palette/89a8b2b3c8cfe5e1daf1f0e8 */
    --background-color : #F1F0E8;
    --emphasis-color-1 : #89A8B2;
    --emphasis-color-2 : #B3C8CF;
    --emphasis-color-3 : #E5E1DA;

    /* General Spacing Variables */
    --small-hor-space : 0.5vw;
    --medium-hor-space : 1vw;
    --large-hor-space : 2vw;

    --small-ver-space : 1vh;
    --medium-ver-space : 2vh;
    --large-ver-space : 3vh;

    /* Page sizing variables */
    --body-height : 100vh;
    --footer-height : 10vh;

    /* Information selector properties */
    --selector-height : 70vh;
    --selector-width : 20vw;

    /* Border Radius Properties */
    --border-radius-small : 10px;
    --border-radius-medium : 20px;

    /* View Switch Properties */
    --view-switch-width : 3.5vw;
    --view-switch-height : 4.5vh;
    --view-switch-border-radius : calc(var(--view-switch-height) / 2);

    --view-switch-shuttle-dim : 3vh;
    --view-switch-shuttle-border-radius : calc(var(--view-switch-shuttle-dim) / 2);

    --view-switch-offset : 10.25vw;
    --view-switch-offset-active : 12.25vw;

    /* Animation Cover Properties */
    --animation-cover-offset : calc(var(--selector-width) + 4 * var(--medium-hor-space));
    --animation-cover-width-active : calc(var(--graph-container-width) + (2 * var(--medium-hor-space)));

    /* Dropdown Wrapper Properties */
    --dropdown-wrapper-height : 25vh;
    --dropdown-wrapper-width : 16vw;

    /* Dropdown Menu Properties */
    --dropdown-height : 7.5vh;
    --dropdown-width : 16vw;

    /* Animation Properties */
    --animation-length-short : 0.25s;
    --animation-length-med-short : 1s;
    --animation-length-medium : 1.5s;
    --animation-length-long : 2s;

    /* Graph Container Properties */
    --graph-container-height : 90vh;
    --graph-container-width : calc(100vw - var(--selector-width) - (2 * var(--medium-hor-space)) - 6vw);

    --leaflet-wrapper-height : calc(var(--graph-container-height) - 4 * var(--medium-ver-space));
    --leaflet-wrapper-width : calc(var(--graph-container-width) - (2 * var(--medium-hor-space)));

    /* Graph wrapper properties */
    --graph-wrapper-height : 28vh;
    --graph-wrapper-width : 70vw; 
    --graph-wrapper-animation-offset : calc(var(--selector-width) + (4 * var(--medium-hor-space)));

    /* Graph properties */
    --graph-height : calc(var(--graph-wrapper-height) - 4vh);
    --graph-width  : calc(var(--graph-wrapper-height) * 2);
    
    --graph-height-active : calc(3 * var(--graph-wrapper-height));
    --graph-width-active :  var(--graph-height-active);

    /* Graph Description Properties */
    --graph-description-width : calc(var(--graph-wrapper-width) - var(--graph-width) - (4 * var(--medium-hor-space)));
    --graph-description-width-active : calc(var(--graph-container-width) - (3 * var(--graph-wrapper-height)) - (3 * var(--medium-hor-space)));
    --graph-description-text-height : calc(var(--graph-height) - (2 * var(--medium-ver-space)));
    --graph-description-title-height : calc(2 * var(--medium-hor-space));
    
    /* Default text properties */
    .header-text {
        text-align : center;
        margin : 0 0 0 0;
    }

    .standard-text {
        text-align : center;
        margin : 0 0 0 0;
    }

    .link-text {
        color : rgb(92, 92, 92);
    }

    /* Removing standard body margin */
    margin : 0 0 0 0;
}

.body-wrapper {
    /* Sizing Information */
    height : var(--body-height);

    /* Content Placement Information */
    align-items : center;
    display : flex;
    flex-direction : row;

    background-color : var(--background-color);

    .selector {
        /* Sizing Information */
        height : var(--selector-height);
        width : var(--selector-width);
        margin : 0 var(--medium-hor-space);

        /* Content Placement Information */
        display : flex;
        flex-direction : column;
        padding : var(--medium-ver-space) var(--medium-hor-space);
        align-items : center;
        justify-content : space-between;

        /* Shape And Color Information */
        border-radius : var(--border-radius-medium);
        background-color : var(--emphasis-color-1);
    }

    .graph-container {
        /* Sizing Information */
        height : var(--graph-container-height);
        width : var(--graph-container-width);
        margin : 0 var(--medium-hor-space);

        /* Content Placement Information */
        display : flex;
        flex-direction : row;
        flex-wrap : wrap;
        justify-content : space-evenly;
        z-index : 0;
    }
}

.view-switch-gutter {
    /* Sizing Information */
    height : var(--view-switch-height);
    width : var(--view-switch-width);

    /* Content Placement Information */
    display : flex;
    flex-direction : row;
    align-items : center;
    padding : 0 var(--small-hor-space);
    margin-top : 5vh;

    /* Shape And Color Information */
    background-color : var(--emphasis-color-3);
    border-radius : var(--view-switch-border-radius);
}

.view-switch-gutter:hover {
    cursor : pointer;
}

#view-switch-gutter-active {
    background-color : var(--emphasis-color-2);
}

.view-switch-shuttle {
    height : var(--view-switch-shuttle-dim);
    width : var(--view-switch-shuttle-dim);
    
    background-color : white;
    border-radius : var(--view-switch-shuttle-border-radius);
}

#view-switch-shuttle-active {
    animation-name : view-switch-shuttle-active;
    animation-duration : var(--animation-length-short);
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes view-switch-shuttle-active {
    0% {
        left : var(--view-switch-offset);
    }
    100% {
        left : var(--view-switch-offset-active);
    }
}

#view-switch-shuttle-inactive {
    animation-name : view-switch-shuttle-inactive;
    animation-duration : var(--animation-length-short);
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes view-switch-shuttle-inactive {
    0% {
        left : var(--view-switch-offset-active);
    }
    100% {
        left : var(--view-switch-offset);
    }
}

.dropdown-wrapper {
    /* Sizing Information */
    height : var(--dropdown-wrapper-height);
    width : var(--dropdown-wrapper-width);

    /* Content Placement Information */
    display : flex;
    flex-direction : column;
    justify-content : space-between;
}

.dropdown-title-wrapper {

    h3 {
        margin : 0 0;
        text-align : center;
    }
}

.dropdown {
    /* Sizing Information */
    height : var(--dropdown-height);
    width : var(--dropdown-width);

    /* Shape And Color Information */
    background-color : var(--emphasis-color-3);
    border-radius : var(--border-radius-small);
    text-align : center;
}

.graph-wrapper {
    /* Sizing Information */
    height : var(--graph-wrapper-height);
    width : var(--graph-wrapper-width);

    /* Content Placement Information */
    display : flex;
    flex-direction : row;
    align-items : center;

    /* Shape And Color Information */
    background-color : var(--emphasis-color-2);
    border-radius : var(--border-radius-small);

    p {
        max-height : var(--graph-description-text-height);

        overflow : hidden;
                
        margin : 0 0 0 0;
    }

    h3 {
        height : var(--graph-description-title-height);

        overflow : hidden;
        white-space: nowrap;

        text-overflow : ellipsis;

        margin : 0 0 0 0;
    }
}

#graph-wrapper-active {
    /* Content Placement Information */
    z-index : 100;

    animation-name: graph-wrapper-active;
    animation-duration: var(--animation-length-med-short);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    h3 { 
        width : 100%;
    }
}

@keyframes graph-wrapper-active {
    0% {}
    100% {
        height : var(--graph-container-height);
        width : var(--graph-container-width);
        left : var(--graph-wrapper-animation-offset);
        top : 5vh;
    }
}

.graph {
    /* Sizing Information */
    height : var(--graph-height);
    width : var(--graph-width);
    margin : 0 var(--medium-hor-space);

    overflow : hidden;

    background-color : var(--emphasis-color-3);
}

#graph-active {
    animation-name : graph-active;
    animation-duration : var(--animation-length-med-short);
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes graph-active {
    0% {}
    100% {
        height : var(--graph-height-active);
        width :  var(--graph-width-active);
    }
}

.graph-cover {
    height : var(--graph-height);
    width : var(--graph-width);
    margin : 0 var(--medium-hor-space);

    background-color: var(--emphasis-color-3);
    opacity : 0%;

    position : absolute;

    z-index : 9999;
}

#graph-cover-active {
    animation-name : graph-cover-active;
    animation-duration : var(--animation-length-medium);
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes graph-cover-active {
    0% { opacity : 100%; }
    66% {
        opacity : 100%;
        height : var(--graph-height-active);
        width :  var(--graph-width-active);
    }
    100% {
        opacity : 0%;
        height : var(--graph-height-active);
        width :  var(--graph-width-active);
    }
}

.graphCanvas {
    /* Sizing Information */
    height : var(--graph-height);
    width : var(--graph-width);
}

.graph-description {
    /* Sizing Information */
    width : var(--graph-description-width);
    
    .dropdown {
        margin-top : var(--large-hor-space);
        display : none;
    }
}

#graph-description-active {
    /* Sizing Information */
    width : var(--graph-description-width-active);

    /* Content Placement Information */
    align-items : center;
    justify-items : center;

    .dropdown {
        display : flex;
    }

    h3 {
        text-align : center;
    }
}

#leaflet-wrapper {
    /* Sizing Information */
    height : var(--leaflet-wrapper-height);
    width : var(--leaflet-wrapper-width);

    /* Shape And Color Information */
    border-radius : var(--border-radius-medium);
}

.popup_row {
    width : fit-content;
    display : flex;
    flex-direction : row;

    h3 {
        width : 10vw;
        margin-right : var(--small-hor-space);
    }

    p {
        width : 10vw;
        height : 2vh;

        overflow : hidden;
        white-space: nowrap;
        text-overflow : ellipsis;
    }
}

#graph-view {
    flex-direction : column;
}

#leaflet-view {
    /* Shape And Color Information */
    background-color : var(--emphasis-color-2);
    border-radius : var(--border-radius-medium);

    /* Content Placement Information */
    display : none;
    justify-content : center;
    align-items : center;
}

.animation-cover {
    /* Sizing Information */
    height : var(--graph-container-height);

    /* Shape And Color Information */
    background-color: var(--background-color);

    /* Content Placement Information */
    position : absolute;
    left : var(--animation-cover-offset);
    z-index : 10000;
}

#animation-cover-active {
    animation-name: animation-cover-active;
    animation-duration: var(--animation-length-long);
    animation-iteration-count: 1;
}

@keyframes animation-cover-active {
    0%    { width : 0vw;                                }     
    50%   { width : var(--animation-cover-width-active) }
    100%  { width : 0vw;                                }    
}

.footer-wrapper {
    /* Sizing Information */
    height : var(--footer-height);

    /* Shape And Color Information */
    background-color : var(--background-color);

    .footer-content {
        /* Sizing Information */
        width : 80vw;
        padding : 2vh;
        margin : 0 auto;

        /* Content Placement Information */
        align-items : center;
        justify-content : center;

        /* Border Information */
        border-top : 1px solid black;

        .git-wrapper {
            /* Sizing Information */
            width : 100%;

            /* Content Placement Information */
            text-align : center;
        }
    }
}
