body {
    /* Standard values for the whole webapp */
    /* Color Vars */
    /* Palette source - https://colorhunt.co/palette/89a8b2b3c8cfe5e1daf1f0e8 */
    --background-color : #F1F0E8;
    --emphasis-color-1 : #89A8B2;
    --emphasis-color-2 : #B3C8CF;
    --emphasis-color-3 : #E5E1DA;

    /* General Spacing Variables */
    --small-hor-space : 0.5vw;
    --medium-hor-space : 1vw;
    --large-hor-space : 2vw;

    --small-ver-space : 1vh;
    --medium-ver-space : 2vh;
    --large-ver-space : 3vh;

    /* Page sizing variables */
    --body-height : 100vh;
    --footer-height : 10vh;

    /* Information selector properties */
    --selector-height : 80vh;
    --selector-width : 20vw;

    /* View Switch Properties */
    --view-switch-width : 3.5vw;
    --view-switch-height : 4.5vh;
    --view-switch-shuttle-dim : 3vh;

    /* Graph Container Properties */
    --graph-container-height : 90vh;
    --graph-container-width : calc(100vw - var(--selector-width) - (2 * var(--medium-hor-space)) - 6vw);

    /* Graph wrapper properties */
    --graph-wrapper-height : 28vh;
    --graph-wrapper-width : 35vw; 

    /* Graph properties */
    --graph-height : calc(var(--graph-wrapper-height) - 4vh);
    
    /* Default text properties */
    .header-text {
        text-align : center;
        margin : 0 0 0 0;
    }

    .standard-text {
        text-align : center;
        margin : 0 0 0 0;
    }

    .link-text {
        color : rgb(92, 92, 92);
    }

    /* Removing standard body margin */
    margin : 0 0 0 0;
}

.body-wrapper {
    /* Sizing Information */
    height : var(--body-height);

    /* Content Placement Information */
    align-items : center;
    display : flex;
    flex-direction : row;

    background-color : var(--background-color);

    .selector {
        /* Sizing Information */
        height : var(--selector-height);
        width : var(--selector-width);
        margin : 0 var(--medium-hor-space);

        /* Content Placement Information */
        display : flex;
        flex-direction : column;
        padding : var(--medium-ver-space) var(--medium-hor-space);
        align-items : center;
        justify-content : space-between;

        /* Shape And Color Information */
        border-radius : 20px;
        background-color : var(--emphasis-color-1);
    }

    .graph-container {
        /* Sizing Information */
        height : var(--graph-container-height);
        width : var(--graph-container-width);
        margin : 0 var(--medium-hor-space);

        /* Content Placement Information */
        display : flex;
        flex-direction : row;
        flex-wrap : wrap;
        justify-content : space-evenly;
        z-index : 0;
    }
}

.view-switch-gutter {
    /* Sizing Information */
    height : var(--view-switch-height);
    width : var(--view-switch-width);

    /* Content Placement Information */
    display : flex;
    flex-direction : row;
    align-items : center;
    padding : 0 var(--small-hor-space);

    /* Shape And Color Information */
    background-color : var(--emphasis-color-3);
    border-radius : calc(var(--view-switch-height) / 2);
}

.view-switch-gutter:hover {
    cursor : pointer;
}

#view-switch-gutter-active {
    background-color : var(--emphasis-color-2);
}

.view-switch-shuttle {
    height : var(--view-switch-shuttle-dim);
    width : var(--view-switch-shuttle-dim);
    
    background-color : white;
    border-radius : calc(var(--view-switch-shuttle-dim) / 2);
}

#view-switch-shuttle-active {
    animation-name : view-switch-shuttle-active;
    animation-duration : 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes view-switch-shuttle-active {
    0% {
        left : 10.25vw;
    }
    100% {
        left : 12.25vw;
    }
}

#view-switch-shuttle-inactive {
    animation-name : view-switch-shuttle-inactive;
    animation-duration : 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes view-switch-shuttle-inactive {
    0% {
        left : 12.25vw;
    }
    100% {
        left : 10.25vw;
    }
}

.graph-wrapper {
    /* Sizing Information */
    height : var(--graph-wrapper-height);
    width : var(--graph-wrapper-width);

    /* Content Placement Information */
    display : flex;
    flex-direction : row;
    align-items : center;

    /* Shape And Color Information */
    background-color : var(--emphasis-color-2);
    border-radius : 10px;

    p {
        height : calc(var(--graph-height) - (2 * var(--medium-ver-space)));

        overflow : hidden;

        margin : 0 0 0 0;
    }

    h3 {
        height : calc(2 * var(--medium-hor-space));

        margin : 0 0 0 0;
    }
}

#graph-wrapper-active {
    /* Content Placement Information */
    z-index : 100;

    animation-duration: 1s;
    animation-name: graph-wrapper-active;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes graph-wrapper-active {
    0% {}
    100% {
        height : var(--graph-container-height);
        width : var(--graph-container-width);
        left : calc(var(--selector-width) + (4 * var(--medium-hor-space)));
        top : 5vh;
    }
}

.graph {
    /* Sizing Information */
    height : var(--graph-height);
    width : var(--graph-height);
    margin : 0 var(--medium-hor-space);

    background-color : red;
}

#graph-active {
    animation-name : graph-active;
    animation-duration : 1s;
    animation-iteration-count: 1;
    animation-fill-mode : forwards;
}

@keyframes graph-active {
    0% {}
    100% {
        height : calc(3 * var(--graph-wrapper-height));
        width :  calc(3 * var(--graph-wrapper-height));
    }
}

.graph-description {
    width : calc(var(--graph-wrapper-width) - var(--graph-height) - (4 * var(--medium-hor-space)));
}

#graph-description-active {
    /* Sizing Information */
    width : calc(var(--graph-container-width) - (3 * var(--graph-wrapper-height)) - (3 * var(--medium-hor-space)));

    /* Content Placement Information */
    align-items : center;

    h3 {
        text-align : center;
    }
}

#leaflet-wrapper {
    /* Sizing Information */
    height : calc(var(--graph-container-height) - 4 * var(--medium-ver-space));
    width : calc(var(--graph-container-width) - (2 * var(--medium-hor-space)));

    /* Shape And Color Information */
    border-radius : 20px;
}

#graph-view {
    flex-direction : column;
}

#leaflet-view {
    /* Shape And Color Information */
    background-color : var(--emphasis-color-2);
    border-radius : 20px;

    /* Content Placement Information */
    display : none;
    justify-content : center;
    align-items : center;
}

.animation-cover {
    /* Sizing Information */
    height : var(--graph-container-height);

    /* Shape And Color Information */
    background-color: var(--background-color);

    /* Content Placement Information */
    position : absolute;
    left : calc(var(--selector-width) + 4 * var(--medium-hor-space));
    z-index : 10000;
}

#animation-cover-active {
    animation-name: animation-cover-active;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animation-cover-active {
    0%    { width : 0vw;                          }
    50%   { width : calc(var(--graph-container-width) + (2 * var(--medium-hor-space))); }
    100%  { width : 0vw;                          }    
}


.footer-wrapper {
    /* Sizing Information */
    height : var(--footer-height);

    /* Shape And Color Information */
    background-color : var(--background-color);

    .footer-content {
        /* Sizing Information */
        width : 80vw;
        padding : 2vh;
        margin : 0 auto;

        /* Content Placement Information */
        align-items : center;
        justify-content : center;

        /* Border Information */
        border-top : 1px solid black;

        .git-wrapper {
            /* Sizing Information */
            width : 100%;

            /* Content Placement Information */
            text-align : center;
        }
    }
}
